<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div id='global-notification' class="notification is-success global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div id='global-notification' class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <nav class="navbar is-primary">  
  		<div class="navbar-brand">
  		<%= link_to root_path, class: "navbar-item", id: "brand" do %>
  			<h1 class="title has-text-weight-bold"> MembersOnly</h1>
  		<% end %>
  	 </div>
      <div class="navbar-menu">
        <div class ="navbar-start"></div>
				<div class="navbar-end">
          <div class="navbar-item">
					<div class="field is-grouped">
						<p class="control">
              <%= link_to new_post_path, class: "button is-inverted is-outlined is-info" do %>
                <span class="icon">
                  <i class="fa fa-pencil"></i>
                </span>
                <span>New Post</span>
              <% end %>
						</p>
            <% if user_signed_in?%>
              <p>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class:  "button is-inverted is-outlined is-success"%>
              </p>
              <%else%>
            <p class="control">
              <%= link_to new_user_session_path, class: "button  is-inverted is-outlined is-success" do %>
              <span class="icon">
                 <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
                <span>Sign In</span>
              <% end %>
            </p>
						<p class="control">
              <%= link_to 'Sign Up', new_user_registration_path, class: "button  is-inverted is-outlined is-success" %>
            </p>
            <%end%>
            </div>
					</div>
				</div>
			</div>
  	</nav>
    <%= yield %>
  </body>
</html>
